* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  body{
    min-height: 100vh;
    background-color: black;
  }
  li{
    list-style: none;
  }
  main{
    padding: .75em .5em;
  }
 header{
    display: flex;
    justify-content: space-around;
    padding: 1em 0 .5em 0;
    color: white;
    font-weight: 800;
  }
  header div{
    padding: .25em .35em .25em .35em;
    border-radius: 3px;
    font-size: 15px;
    flex-grow: 1;
  }
  header div div{
    display: flex;
    justify-content: space-between;
  }
  .budget{
    background-color: #bcbebf;
  }
  .remaining{
    background-color: #008859;
    margin-left: .75em;
    margin-right: .75em;
  }
  .total-expense{
    background-color: #cce6ff;
  }
  h1{
    text-align: center;
    color: white;
  }
  h3{
    padding-bottom: .5em;
    color: white;
  }
  .expenses-container{
    display: flex;
    flex-direction: column;
    padding: 1em 0 .5em 0;
  }
  .expenses{
    padding-bottom: .75em;
  }
  .expense-item{
    border: .6px rgb(132, 132, 132) solid;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: .45em;
  }
  .expense-item div{
    display: flex;
  }
  .cost{
    padding-right: .25em;
  }
  .flex-form{
    display: flex;
  }
  .flex-form div {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
  }
  .save-btn{
    padding-top: .75em;
  }
  .save{
    padding: .5em .75em .5em .75em;
    background-color: #077eee;
    border-style: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  svg{
    width: 20px;
    height: 20px;
  }
  path{
    fill: white;
  }
  label{
    color: white;
  }
  ul{
    color: white;
  }
  span{
    padding-right: 1em;
  }